&.roulette
		
		//Board on the left, bet buttons on the right
		.container
			display: inline-block
		.container > .sideboard
			float right
		.container > .board
			float left

		//Sideboard styling
		.sideboard
			width: auto
			.betboard
				width: auto
			.balanceboard
				text-align: center

		//Board has three columns
		.board > div
			display: inline-block

		.board
			padding 4px
			margin 8px
			width 250px
			border-style ridge
			color white
			background-color #097a2d
			border-color #06541f
			
			//Range buttons
			.large_buttons
				width: 32px
				max-width 32px
				margin-top 20px
				margin: 0px

			.large_buttons > span
				float: left

			//Blackred buttons
			.rbbuttons
				width 32px
				max-width 32px
				margin-top 40px
				margin 0px
			
			.rbbuttons > span
				float: left


		.number .button
			width 32px
			height 32px
			font-size 16px
			margin 4px
			border none
			color white
		
		.number.red
			button-color-normal = #AA1818
			button-color-selected = #CFBA47
			@import "util/*"
			@import "components/*"

		.number.black
			button-color-normal	= #1A1A1A
			@import "util/*"
			@import "components/*"
			
		.image_button .button
				width 32px
				font-size 16px
				margin 4px
				padding 0px
				border none
				color none
				height 72px

		.amount
			.button
				height 32px
				font-size 16px
				margin 4px
				color white
				width 90%
				margin-top 8px
				border-style ridge
				border-color #06541f
			button-color-normal = #146630
			@import "util/*"
			@import "components/*"