&.roulette	

	.number_red
		color white
		width 32px
		height 32px
		font-size 16px
		margin 4px
		background-color #aa1818
		border none
		button-color-normal       = #AA1818
		button-color-selected     = #CFBA47
		
	.number_black
		color white
		width 32px
		height 32px
		font-size 16px
		margin 4px
		button-color-normal       = #1A1A1A
		border none
		
	.image_button
		color none
		width 32px
		height 72px
		font-size 16px

		margin 4px
		border none
		button-color-normal = none

	.amount
		width 90%
		height 32px
		margin-top 8px
		border-style ridge
		color white
		button-color-normal = #146630
		border-color #06541f

	.display
		padding 4px
		margin 8px
		width 200px
		border-style ridge
		color white
		background-color #097a2d
		border-color #06541f
	
    @import "util/*"
    @import "components/*"

